/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                  DASHBOARD                                 */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.Dashboard {
  overflow: hidden;
  display: flex;

  .dashboardRight {
    width: 100%;
    flex: 1;

    &Top {
      width: 100%;
      background-color: $primaryCardColor;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      border-bottom: 1px solid $stroke;
      padding: 18px 40px;
      position: sticky;
      top: 0;
      z-index: 2;

      .search {
        max-width: 666px;
        height: 37px;
        flex: 1;
        background-color: $lighterBgBlack;
        background-image: url("/icon/search.svg");
        background-repeat: no-repeat;
        background-position: 17px 50%;
        color: $textSecondary;
        font-weight: normal;
        font-size: 12px;
        border-radius: 5px;
        border: none;
        padding: 0 10px 0 44px;
      }
    }
  }

  .bottom {
    height: 100%;
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  .modalParent {
    width: 100%;
    height: 100vh;
    background-color: #0f0f0fcc;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 5;

    & > div {
      max-height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                             DASHBOARD TOP MENU                             */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.DashboardTopMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;

  button {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    padding: 8px 15px;
  }

  .ai {
    background-color: rgba($color: $primary, $alpha: 0.2);
    font-weight: 500;
    border: 1px solid $primary;

    p {
      color: $primary;
    }
  }

  .new {
    background-color: white;
    margin: 0 24px 0 10px;

    p {
      color: $bgBlack;
    }
  }

  .import {
    background-color: $primary;
    border: 1px solid $primary;
    padding: 8px 28px;

    p {
      color: white;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                              DASHBOARD SIDEBAR                             */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.DashboardSideBar {
  height: 100%;
  width: 100%;
  max-width: 230px;
  background-color: $primaryCardColor;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-right: 1px solid $stroke;
  padding: 30px 37px 39px 32px;

  .logo {
    width: fit-content;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 46px;
  }

  .mainLinks {
    display: flex;
    flex-direction: column;
    gap: 18px;

    a,
    button {
      background-color: transparent;
      color: $textSecondary;
      font-size: 16px;
      display: flex;
      align-items: center;
      gap: 10px;
      border-radius: 5px;
      border: none;
      padding: 10px;
      transition: none;

      img {
        visibility: hidden;
        transition: none;
      }
    }

    .selected {
      background-color: $lighterBgBlack;
      color: white;

      img {
        visibility: visible;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                             NEW PORTFOLIO MODAL                            */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.NewPortfolioModal {
  width: 100%;
  max-width: 457px;
  background-color: $bgBlack;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid $stroke;
  padding: 28px;

  button {
    background: none;
    border: none;
  }

  .top {
    all: unset;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .title {
    font-weight: bold;
    font-size: 18px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 25px;
  }

  input,
  select,
  textarea {
    width: 100%;
    max-height: 160px;
    background-color: $bgBlack;
    color: $textSecondary;
    font-size: 14px;
    border: 1px solid $stroke;
    border-radius: 5px;
    padding: 11px 8px;
    margin: 10px 0;
  }

  textarea {
    min-height: 50px;
    resize: vertical;
  }

  .submit {
    background-color: $whiteBg;
    color: black;
    font-weight: 700;
    font-size: 14px;
    border: none;
    padding: 14px 16px;
  }
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                IMPORT MODAL                                */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.ImportModal {
  width: 90%;
  max-width: 457px;
  background-color: $bgBlack;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 5px;
  padding: 30px 28px;

  a,
  button {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-radius: 5px;
  }

  .top {
    width: 100%;
    background-color: $bgBlack;
    border: none;
    font-size: 24px;
    font-weight: 700;
    padding: 0;
  }

  .options {
    width: 100%;
    padding: 14px;
    border: 1px solid $stroke;
  }
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                 INTEGRATION                                */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.GithubInfo {
  gap: 0;

  .title {
    font-size: 24px;
    font-weight: 700;
  }

  .top {
    font-size: 18px;
    justify-content: flex-start;
    gap: 14px;
    margin: 55px 0 24px;
  }

  .points {
    margin: 24px 0 58px 15px;

    li {
      color: $textSecondary;
      font-size: 14px;
      margin: 2px 0;
    }
  }

  .actions {
    font-size: 12px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    a,
    button {
      white-space: nowrap;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      font-weight: 700;
      padding: 10px 15px;
    }

    .cancel {
      background-color: $lighterBgBlack;
    }

    .connect {
      background-color: $whiteBg;
      color: $blackText;
    }
  }
}

.GithubPermission {
  .title {
    margin-bottom: 39px;
  }

  label {
    display: flex;
    align-items: flex-start;
    border: 0.3px solid rgba($color: $stroke, $alpha: 0.4);
    border-radius: 5px;
    padding: 16.5px 9px;
    margin-bottom: 11px;

    .summary {
      margin-left: 10px;
    }

    .body {
      color: $textSecondary;
      font-size: 12px;
      font-weight: 400;
      margin-top: 12px;
    }
  }

  .actions {
    margin-top: 9px;
  }
}

.UploadFiles {
  overflow-x: hidden;

  .title {
    margin-bottom: 44px;
  }

  .drop {
    min-height: 146px;
    color: $textSecondary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 17px;
    border: 1px dashed $stroke;
    border-radius: 5px;
    text-align: center;
    padding: 39px;
    overflow: hidden;
    position: relative;

    .instruction p {
      font-size: 12px;
      color: $textSecondary;

      .action {
        color: white;
        text-decoration: underline;
      }
    }

    input[type="file"] {
      width: 100%;
      height: 100%;
      background-color: red;
      position: absolute;
      margin-top: 2px;
      opacity: 0;
    }
  }

  .subInstruction {
    font-size: 12px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7px 0 45px;

    p {
      color: $textSecondary;
    }
  }

  .files {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 49px;
  }
}

.UploadFilesCard {
  display: flex;
  align-items: flex-start;
  gap: 17px;
  border: 1px dashed $stroke;
  border-radius: 5px;
  padding: 11px 18px;

  .right {
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .top {
    width: 100%;
    font-weight: inherit;
    font-size: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    margin: 0;
  }

  .bottom {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 7px;

    .loading {
      width: 100%;
      height: 7px;
      background-color: $stroke;
      display: block;
      border-radius: 50px;
      overflow: hidden;
      margin-top: 10px;

      .bar {
        height: 100%;
        width: 0%;
        background-color: $textSecondary;
        display: block;
        border-radius: 10px;
        transition: width 0s;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                PROFILE MENU                                */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

button.profileMenuParent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 3px 5px;

  .dp {
    height: 30px;
    background-color: coral;
    aspect-ratio: 1;
    border-radius: 50%;
    text-transform: capitalize;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }

  .modalParent {
    opacity: 0;
    z-index: 1;
  }

  img {
    transition-duration: 0.3s;
  }
}

.ProfileMenu {
  max-width: 454px;
  width: 100vw;
  background-color: $bgBlack;
  font-weight: 400;
  border-radius: 5px;
  position: absolute;
  top: calc(100% + 10px);
  right: 20px;
  z-index: 1;
  padding: 24px 0;

  .top {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $stroke;
    padding: 0 22px 24px;

    .email {
      color: $textSecondary;
      margin-left: 8px;
    }

    .exit {
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0;
      margin: 0 0 0 auto;

      .tag {
        color: $textSecondary;
        max-width: 123px;
        font-weight: normal;
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 6px;
      }
    }
  }

  .option {
    width: calc(100% - 22px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 17px auto;

    .rightArrow {
      transform: rotateZ(-90deg);
    }
  }

  .action {
    width: calc(100% - 22px);
    background-color: $primary;
    padding: 10px;
    margin: 0 auto;
  }
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                               DASHBOARD MAIN                               */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.DashboardMain {
  height: 100%;
  flex: 1;
  display: block;
  padding: 19px 38px;

  .intro {
    font-size: 24px;
    font-weight: 700;
  }
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                             DASHBOARD PROJECTS                             */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.DashboardProjects {
  overflow-y: auto;
  padding-bottom: 100px;

  .Tab {
    border: none;
    margin: 22px 0;

    button {
      background: none;
      color: $textSecondary;
      border: none;
      font-size: 14px;
    }
  }

  .cards {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
  }

  .empty {
    width: 100%;
    font-size: 12px;
    text-align: center;
    margin-top: 150px;
  }
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                PROJECT MODAL                               */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.ProjectModal {
  max-width: 274px;
  width: 100%;
  background-color: $bgBlack;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 10px 0;

  button {
    width: calc(100% - 10px);
    background: none;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .split {
    width: 100%;
    height: 1px;
    background: $stroke;
    display: block;
    margin: 11px 0;
  }

  .delete p {
    color: #ff3d00;
  }
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                  PRO CARD                                  */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.ProCard {
  width: 100%;
  background-color: #4c6fff4d;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 5px;
  padding: 10px 19px;
  margin: 16px 0;

  img {
    margin-top: -4px;
  }

  button {
    background-color: transparent;
    color: white;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    text-decoration: underline;
    padding: 1px 4px;
  }
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                PROJECT CARD                                */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.ProjectCard {
  width: fit-content;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 32px;
  border-radius: 5px;
  padding: 19px 12px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    238.19deg,
    rgba(28, 10, 47, 0.85) 19.35%,
    #040e3a 81.07%
  );

  .bg {
    height: 100%;
    width: 100%;
    display: block;
    background-position: 50% -10px;
    background-size: 120%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.05;
    z-index: 0;
  }

  .left {
    background-color: transparent;
    padding: 0;
    z-index: 1;

    .url {
      font-weight: 700;
      margin-bottom: 12px;
    }

    .time {
      color: $textSecondary;
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 7px;
    z-index: 1;

    .dp {
      min-width: 25px;
      aspect-ratio: 1;
      background-color: coral;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      border-radius: 50%;
    }

    .more {
      width: 34px;
      height: 20px;
      background: none;
      display: flex;
      align-items: center;
      justify-items: center;
      border: none;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                               PROJECT CARD 2                               */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.ProjectCard2 {
  width: 100%;
  max-width: 380px;
  background-size: cover;
  display: inline-block;
  flex-direction: column;
  border-radius: 6px;
  overflow: hidden;
  outline: 1px solid transparent;
  transition: outline 0.3s;

  .bottom {
    height: fit-content;
    background-color: $lighterBgBlack;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 13px 10px;
    margin-top: 190px;
  }

  .size {
    color: $textSecondary;
    flex: 1;
  }

  .date {
    color: $textSecondary;
  }

  .more {
    width: 34px;
    height: 20px;
    background: none;
    display: flex;
    align-items: center;
    justify-items: center;
    border: none;
  }

  &.selected {
    outline-color: #ae66ff;
  }
}
