@font-face {
  font-family: HarmonyOsSans;
  src: url("/font/HarmonyOS_Sans_Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: HarmonyOsSans;
  src: url("/font/HarmonyOS_Sans_Black_Italic.ttf");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: HarmonyOsSans;
  src: url("/font/HarmonyOS_Sans_Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: HarmonyOsSans;
  src: url("/font/HarmonyOS_Sans_Bold_Italic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: HarmonyOsSans;
  src: url("/font/HarmonyOS_Sans_Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: HarmonyOsSans;
  src: url("/font/HarmonyOS_Sans_Medium_Italic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: HarmonyOsSans;
  src: url("/font/HarmonyOS_Sans_Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: HarmonyOsSans;
  src: url("/font/HarmonyOS_Sans_Regular_Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: HarmonyOsSans;
  src: url("/font/HarmonyOS_Sans_Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: HarmonyOsSans;
  src: url("/font/HarmonyOS_Sans_Light_Italic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: HarmonyOsSans;
  src: url("/font/HarmonyOS_Sans_Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: HarmonyOsSans;
  src: url("/font/HarmonyOS_Sans_Thin_Italic.ttf");
  font-weight: 100;
  font-style: italic;
}
