/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                   LOADER                                   */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.Loader {
  background-color: $bgBlack;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 65px;
  position: fixed;
  border-radius: 5px;
  text-align: center;
  padding: 83px 71px;

  .logo {
    border-radius: 7px;
  }
}
