/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                   LOADER                                   */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.Loader {
  background-color: $bgBlack;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 65px;
  position: fixed;
  border-radius: 5px;
  text-align: center;
  padding: 83px 71px;

  .logo {
    border-radius: 7px;
  }
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                   SUCCESS                                  */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.Success {
  width: 90%;
  max-height: 407px;
  max-width: 457px;
  background-color: $bgBlack;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 105px;

  p {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
  }

  .message {
    color: $textSecondary;
    font-weight: 400;
    font-size: 16px;
    margin: 31px 0 40px;
  }
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                  PRO CARD                                  */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.ProCard {
  width: 100%;
  background-color: #4c6fff4d;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 5px;
  padding: 10px 19px;
  margin: 16px 0;

  button {
    background-color: transparent;
    color: white;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    text-decoration: underline;
    padding: 1px 4px;
  }
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                  TABS URL                                  */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
.TabsURL {
  display: flex;
  align-items: center;
  gap: 10px;

  a {
    border-radius: 5px;
    color: $textSecondary;
    padding: 8px 10px;
    transition: none;

    &.selected {
      background-color: $bgBlack;
      color: white;
      font-weight: bold;
      margin: 0 -2px;
    }
  }
}
