$bgBlack: #242424;
$lighterBgBlack: #2c2c2c;
$stroke: #444444;
$textSecondary: #c2c0c4;
$tint: rgb(116, 107, 255);
$whiteBg: #f2f4f4;
$blackText: #0f0f0f;
$primaryCardColor: #141414;
$primary: #4c6fff;
